.grid {
  margin: 50px auto auto auto;
  display: flex;
  flex-direction: column;
  width: 1050px;
  border: 8px solid rgb(122, 99, 99);
}

.row {
  background-color: rgb(221, 221, 221);
  margin: auto;
  display: flex;
  flex-direction: row;
}

button {
  margin-top: 50px;
}


p {
  color: white;
}